.icon-excel{
    background:url('icons/excel.png') no-repeat center center;
}

.icon-xiangq{
    background:url('icons/xiangq.png') no-repeat center center;
}

.icon-lingyong{
    background:url('icons/twocodelingyong.png') no-repeat center center;
}

